/* style for 2 column text-img pattern */
.flex-columns .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: #eee;
}

.flex-columns .column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2{
    height: 100%;
}

.flex-columns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2{
    font-size: 40px;
    font-weight: 100;
}
.flex-columns h3{
    font-size: 25px;
    font-weight: 500;
}

.flex-columns p{
    margin: 20px 0;
}

